body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  width: 100%; 
  box-sizing: border-box; 
  padding: 50px 400px 50px 400px;
  
}

.container {
  max-width: 800px;
  margin: 80px auto 20px; 
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #007bff;
}

.projects {
  margin-bottom: 20px;
}

.contact {
  text-align: center;
}

.contact a {
  color: #007bff;
  text-decoration: none;
  margin: 0 5px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #007bff;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
